<div class="container mt-5 mb-5">
    <img src="" width="100%">
    <h1 class="text-center">About</h1>
    <p>
        <h3 class="text-center">You choose the best ingredients for you!</h3>
        1.Fresh ingredients taste better
        <br/>
        It’s a scientific fact that cooking with fresh ingredients makes your food taste better.
        First, the preservatives and excess sodium and sugar so often used in long-life, processed food mask its true flavor. The further the food has to travel, the more likely it is to include unnecessary chemicals. Canned foods, which typically have the longest shelf life, are sterilized through boiling. This process, combined with the addition of preservatives, makes products lose their natural taste.
        Second, local produce is most often picked and distributed on the same day, which means fruit and vegetables do not require a flavor-masking wax coating.
        While freezing food is perhaps the best way to retain natural flavor, the forming of ice crystals can impact food shape and texture, which may make it less appetizing.
        Finally, local produce is less likely to contain antibiotics and hormones, and the quality of life for the livestock is likely to be better.
        Fresh, quality food is delicate. Time and temperature affect the flavor negatively because mass-produced food is held at a safe temperature for long amounts of time. At Fresh Ideas, we use batch cooking to prepare smaller portions of food during service to produce an enhanced fresh food experience.
        <br/>
        2. Fresh ingredients are more sustainable
        <br/>
        Consuming fresh, local produce is more sustainable. Doing so reduces supply-chain costs, preserves local farmland, and reduces our dependence on fossil fuels to transport produce long distances.
        Buying local, fresh produce also means buying seasonally. The demand for out-of-season fruit and vegetables often requires the use of more resources, including water, which is not only expensive but unsustainable.
        Importantly, buying local produce supports farmers in the region and boosts the local economy.
        <br/>
        3. Fresh ingredients improve cognitive function
        <br/>
        Our brains burn energy and require considerable fuel to function. Healthy eating improves cognitive function and the energy necessary for us to operate at a high level.
        Nutrient-packed food also produces stronger bones, boosts our immune system, and strengthens the heart. On the flip side, consuming a lot of food with a high trans-fat, sugar, or sodium content can cause energy spikes and crashes.
        From the moment fresh fruit and vegetables are harvested, their nutrients start to deplete. So the shorter the journey from farm to table, the more nutrient-packed the food will be and the more vitamins, minerals, antioxidants, and fiber the body will absorb.
        For college students, unhealthy eating could result in higher instances of illness, poor mental health, and increased fatigue, each of which could impact their long-term academic performance.
    
</div>